page-timeline {
    img.logo{
        max-height: 40px;
        margin: 0 auto;
        display: block;
    }
    ion-card{
        &.card-ios,
        &.card-md{
            width: 100%;
            margin: 0px;
        }
    }
}
